#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/backlight.h>

#define DEF_LAYER         0
#define QWERTY            1
#define FANCY             2
#define STICKY_SHIFT      3
#define COMPACT_BASE      4
#define MODS_HOMEROW      5
#define MODS_LOWERROW     6
#define KEYPAD            7
#define SYMBOL            8
#define EXTEND            9
#define EXTEND_ALT        10
#define MODS_LEFT         11
#define MODS_RIGHT        12
#define MODS_LEFT_LOWER   13
#define MODS_RIGHT_LOWER  14
#define FN                15
#define MOD               16 

/ {
    behaviors {
      #include "macros.dtsi"

      hm: balanced_homerow_mods {
          compatible = "zmk,behavior-hold-tap";
          label = "HOMEROW_MOD";
          #binding-cells = <2>;
          flavor = "balanced";
          tapping-term-ms = <200>;    // <---[[moderate duration]]
          quick-tap-ms = <150>;
          bindings = <&kp>, <&kp>;
      };

      hl: balanced_momentary_layer_tap {
          compatible = "zmk,behavior-hold-tap";
          label = "BALANCED_MOMENTARY_LAYER_TAP";
          #binding-cells = <2>;
          tapping-term-ms = <200>;    // <---[[moderate duration]]
          quick-tap-ms = <150>;
          flavor = "balanced";
          bindings = <&mo>, <&kp>;
      };

      mlt: my_layer_tap {
          compatible = "zmk,behavior-hold-tap";
          label = "mlt";
          #binding-cells = <2>;
          flavor = "hold-preferred";
          tapping-term-ms = <300>;
          bindings = <&mo>, <&kp>;
      };

      conditional_layers {
          compatible = "zmk,conditional-layers";
          right_mods_with_extend {
            if-layers = <MODS_HOMEROW EXTEND>;
            then-layer = <MODS_RIGHT>;
          };
          right_mods_with_symbol {
            if-layers = <MODS_HOMEROW SYMBOL>;
            then-layer = <MODS_RIGHT>;
          };
          left_mods_with_keypad {
            if-layers = <MODS_HOMEROW KEYPAD>;
            then-layer = <MODS_LEFT>;
          };
          left_mods_with_extend_alt {
            if-layers = <MODS_HOMEROW EXTEND_ALT>;
            then-layer = <MODS_LEFT>;
          };
          right_lower_mods_with_extend {
            if-layers = <MODS_LOWERROW EXTEND>;
            then-layer = <MODS_RIGHT_LOWER>;
          };
          right_lower_mods_with_symbol {
            if-layers = <MODS_LOWERROW SYMBOL>;
            then-layer = <MODS_RIGHT_LOWER>;
          };
          left_lower_mods_with_keypad {
            if-layers = <MODS_LOWERROW KEYPAD>;
            then-layer = <MODS_LEFT_LOWER>;
          };
          left_lower_mods_with_extend_alt {
            if-layers = <MODS_LOWERROW EXTEND_ALT>;
            then-layer = <MODS_LEFT_LOWER>;
          };
      };
    };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
        &kp EQUAL &kp N1    &kp N2    &kp N3   &kp N4     &kp N5 &tog KEYPAD                                                                &mo MOD         &kp N6 &kp N7 &kp N8    &kp N9   &kp N0   &kp MINUS
        &kp TAB   &kp SQT   &kp COMMA &kp DOT  &kp P      &kp Y  &kp KP_NUMBER_1                                                            &kp KP_NUMBER_3 &kp F  &kp G  &kp C     &kp R    &kp L    &kp FSLH
        &kp ESC   &kp A     &kp O     &kp E    &kp U      &kp I  &kp KP_NUMBER_2   &kp LGUI  &kp LALT             &kp RGUI  &kp BKSP        &kp KP_NUMBER_4 &kp D  &kp H  &kp T     &kp N    &kp S    &kp MINUS
        &kp LSHFT &kp SEMI  &kp Q     &kp J    &kp K      &kp X          &none     &none     &kp HOME &none &none &kp PG_UP &none    &none                  &kp B  &kp M  &kp W     &kp V    &kp Z    &kp RSHFT
        &mo FN    &kp GRAVE &kp BSLH  &kp LEFT &kp RIGHT                 &kp SPACE &kp LCTRL &kp END              &kp PG_DN &kp RCTL &kp ENTER                     &kp UP &kp DOWN  &kp LBKT &kp RBKT &mo FN 
        >;
    };
    qwerty {
      bindings = <
        &trans &trans &trans &trans &trans &trans &trans                                                       &mo MOD &trans &trans &trans    &trans  &trans   &trans
        &trans &kp Q  &kp W  &kp E  &kp R  &kp T  &trans                                                       &trans  &kp Y  &kp U  &kp I     &kp O   &kp P    &kp BSLH
        &trans &kp A  &kp S  &kp D  &kp F  &kp G  &trans        &trans &trans             &trans &trans        &trans  &kp H  &kp J  &kp K     &kp L   &kp SEMI &kp SQT
        &trans &kp Z  &kp X  &kp C  &kp V  &kp B         &none  &none  &trans &none &none &trans &none  &none          &kp N  &kp M  &kp COMMA &kp DOT &kp FSLH &trans
        &trans &trans &trans &trans &trans               &trans &trans &trans             &trans &trans &trans                &trans &trans    &trans  &trans   &trans
        >;
    };
    fancy {
      bindings = <
        &trans      &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT &trans                                                                    &trans  &kp CARET &kp ASTRK &kp LPAR &kp RPAR &kp AMPS &kp K_APP
        &trans      &trans   &trans &trans   &trans   &trans    &trans                                                                    &trans  &trans    &trans    &trans   &trans   &trans   &trans
        &mo KEYPAD  &trans   &trans &trans   &trans   &trans    &trans        &trans        &trans             &trans &trans              &trans  &trans    &trans    &trans   &trans   &trans   &trans
        &trans      &trans   &trans &trans   &trans   &trans           &none  &none         &trans &none &none &trans &none        &none          &trans    &trans    &trans   &trans   &trans   &trans
        &trans      &trans   &trans &trans   &trans                    &trans &mt LCTRL ESC &trans             &trans &mt RCTL ESC &trans                   &trans    &trans   &trans   &trans   &trans
      >;
    };
    sticky_shift {
      bindings = <
        &trans    &trans &trans &trans &trans &trans &trans                                                       &trans &trans &trans &trans &trans &trans &trans
        &trans    &trans &trans &trans &trans &trans &trans                                                       &trans &trans &trans &trans &trans &trans &trans
        &trans    &trans &trans &trans &trans &trans &trans        &trans &trans             &trans &trans        &trans &trans &trans &trans &trans &trans &trans
        &sk LSHFT &trans &trans &trans &trans &trans        &none  &none  &trans &none &none &trans &none  &none         &trans &trans &trans &trans &trans &sk RSHFT
        &trans    &trans &trans &trans &trans               &trans &trans &trans             &trans &trans &trans               &trans &trans &trans &trans &trans
      >;
    };
    compact_base {
      bindings = <
        &trans &trans      &trans      &trans       &trans       &trans &trans                                                                                                  &trans &trans &trans       &trans       &trans      &trans      &trans
        &trans &trans      &trans      &trans       &trans       &trans &trans                                                                                                  &trans &trans &trans       &trans       &trans      &trans      &trans
        &trans &trans      &trans      &trans       &trans       &trans &trans                   &trans              &trans             &trans &trans                           &trans &trans &trans       &trans       &trans      &trans      &trans
        &trans &trans      &trans      &trans       &trans       &trans        &none             &none               &trans &none &none &trans &none           &none                   &trans &trans       &trans       &trans      &trans      &trans
        &trans &trans      &trans      &trans       &trans                     &hl KEYPAD SPACE  &mlt EXTEND_ALT ESC &trans             &trans &mlt EXTEND ESC &mlt SYMBOL ENTER              &trans       &trans       &trans      &trans      &trans
      >;
    };
    mods_homerow {
      bindings = <
        &trans &trans      &trans      &trans       &trans       &trans &trans                                                          &trans &trans &trans       &trans       &trans      &trans      &trans
        &trans &trans      &trans      &trans       &trans       &trans &trans                                                          &trans &trans &trans       &trans       &trans      &trans      &trans
        &trans &hm LALT A  &hm LGUI O  &hm LSHFT E  &hm LCTRL U  &trans &trans         &trans  &trans             &trans &trans         &trans &trans &hm RCTRL H  &hm RSHFT T  &hm RGUI N  &hm RALT S  &trans
        &trans &trans      &trans      &trans       &trans       &trans        &none   &none   &trans &none &none &trans &none   &none         &trans &trans       &trans       &trans      &trans      &trans
        &trans &trans      &trans      &trans       &trans                     &trans  &trans  &trans             &trans &trans  &trans               &trans       &trans       &trans      &trans      &trans
      >;
    };
    mods_lowerrow {
      bindings = <
        &trans &trans         &trans      &trans       &trans       &trans &trans                                                          &trans &trans &trans       &trans       &trans      &trans      &trans
        &trans &trans         &trans      &trans       &trans       &trans &trans                                                          &trans &trans &trans       &trans       &trans      &trans      &trans
        &trans &trans         &trans      &trans       &trans       &trans &trans         &trans  &trans             &trans &trans         &trans &trans &trans       &trans       &trans      &trans      &trans
        &trans &hm LALT SEMI  &hm LGUI Q  &hm LSHFT J  &hm LCTRL K  &trans        &none   &none   &trans &none &none &trans &none   &none         &trans &hm RCTRL M  &hm RSHFT W  &hm RGUI V  &hm RALT Z  &trans
        &trans &trans         &trans      &trans       &trans                     &trans  &trans  &trans             &trans &trans  &trans               &trans       &trans       &trans      &trans      &trans
      >;
    };
    keypad {
      bindings = <
        &trans &trans &trans       &trans &trans &trans &trans                                                        &trans  &trans &kp KP_NUM &kp KP_EQUAL &kp KP_DIVIDE &kp KP_MULTIPLY &trans
        &trans &trans &trans       &trans &trans &trans &trans                                                        &trans  &trans &kp N7     &kp N8       &kp N9        &kp KP_MINUS    &trans
        &trans &trans &trans       &trans &trans &trans &trans        &trans &trans             &trans &kp DEL        &trans  &trans &kp N4     &kp N5       &kp N6        &kp KP_EQUAL    &trans
        &trans &trans &trans       &trans &trans &trans        &none  &none  &trans &none &none &trans &none   &none          &trans &kp N1     &kp N2       &kp N3        &kp KP_PLUS     &trans
        &trans &trans &kp INSERT   &trans &trans               &trans &trans &trans             &trans &trans  &kp N0                &trans     &trans       &kp KP_DOT    &kp KP_ENTER    &trans 
      >;
    };
    symbol {
      bindings = <
        &trans  &trans     &trans      &trans       &trans       &trans      &trans                                                       &trans &trans      &trans       &trans       &trans      &trans      &trans
        &trans  &kp EXCL   &kp AT      &kp HASH     &kp DLLR     &kp PRCNT   &trans                                                       &trans &kp CARET   &kp ASTRK    &kp UNDER    &kp FSLH    &kp AMPS    &trans
        &trans  &kp GRAVE  &kp TILDE   &kp LBRC     &kp LPAR     &kp LBKT    &trans        &trans &trans             &trans &trans        &trans &trans      &kp KP_MINUS &kp KP_EQUAL &kp KP_PLUS &kp BSLH    &trans
        &trans  &kp LT     &kp GT      &kp RBRC     &kp RPAR     &kp RBKT           &none  &none  &trans &none &none &trans &none  &none         &kp PIPE    &kp KP_MINUS &kp KP_EQUAL &kp KP_PLUS &kp BSLH    &trans
        &trans  &trans     &trans      &trans       &trans                          &trans &trans &trans             &trans &trans &trans                    &trans       &trans       &trans      &trans      &trans
      >;
    };
    extend {
      bindings = <
        &trans  &trans     &trans      &trans       &trans       &trans      &trans                                                       &trans &trans           &trans        &trans        &trans      &trans      &trans
        &trans  &kp PG_UP  &kp HOME    &kp UP       &kp END      &trans      &trans                                                       &trans &kp C_PLAY_PAUSE &kp C_VOL_DN  &kp C_VOL_UP  &kp C_PREV  &kp C_NEXT  &trans
        &trans  &kp PG_DN  &kp LEFT    &kp DOWN     &kp RIGHT    &caps_word  &trans        &trans &trans             &trans &trans        &trans &trans           &kp TAB       &kp BKSP      &kp DEL     &kp ESC     &trans
        &trans  &trans     &trans      &trans       &kp ENTER    &key_repeat        &none  &none  &trans &none &none &trans &none  &none         &key_repeat      &kp TAB       &kp BKSP      &kp DEL     &kp ESC     &trans
        &trans  &trans     &trans      &trans       &trans                          &trans &trans &trans             &trans &trans &trans                         &trans        &trans        &trans      &trans      &trans
      >;
    };
    extend_alt {
      bindings = <
        &trans  &trans           &trans       &trans        &trans        &trans      &trans                                                       &trans &trans      &trans       &trans       &trans      &trans      &trans
        &trans  &kp C_PLAY_PAUSE &kp C_PREV   &kp C_VOL_DN  &kp C_VOL_UP  &kp C_NEXT  &trans                                                       &trans &kp HOME    &kp PG_DN    &kp PG_UP    &kp END     &trans      &trans
        &trans  &kp ESC          &trans       &trans        &kp TAB       &trans      &trans        &trans &trans             &trans &trans        &trans &kp LEFT    &kp DOWN     &kp UP       &kp RIGHT   &kp BKSP    &trans
        &trans  &kp ESC          &trans       &trans        &kp TAB       &key_repeat        &none  &none  &trans &none &none &trans &none  &none         &key_repeat &kp ENTER    &trans       &trans      &kp DEL     &trans
        &trans  &trans           &trans       &trans        &trans                           &trans &trans &trans             &trans &trans &trans                    &trans       &trans       &trans      &trans      &trans
      >;
    };
    mods_left {
      bindings = <
        &trans &trans   &trans   &trans    &trans    &trans &trans                                                        &trans  &trans &trans     &trans       &trans        &trans          &trans
        &trans &trans   &trans   &trans    &trans    &trans &trans                                                        &trans  &trans &trans     &trans       &trans        &trans          &trans
        &trans &sk LALT &sk LGUI &sk LSHFT &sk LCTRL &trans &trans        &trans &trans             &trans &trans         &trans  &trans &trans     &trans       &trans        &trans          &trans
        &trans &trans   &trans   &trans    &trans    &trans        &none  &none  &trans &none &none &trans &none   &none          &trans &trans     &trans       &trans        &trans          &trans
        &trans &trans   &trans   &trans    &trans                  &trans &trans &trans             &trans &trans  &trans                &trans     &trans       &trans        &trans          &trans
      >;
    };
    mods_right {
      bindings = <
        &trans  &trans     &trans      &trans       &trans       &trans      &trans                                                       &trans &trans      &trans       &trans       &trans      &trans      &trans
        &trans  &trans     &trans      &trans       &trans       &trans      &trans                                                       &trans &trans      &trans       &trans       &trans      &trans      &trans
        &trans  &trans     &trans      &trans       &trans       &trans      &trans        &trans &trans             &trans &trans        &trans &trans      &sk RCTRL    &sk RSHFT    &sk RGUI    &sk RALT    &trans
        &trans  &trans     &trans      &trans       &trans       &trans             &none  &none  &trans &none &none &trans &none  &none         &trans      &trans       &trans       &trans      &trans      &trans
        &trans  &trans     &trans      &trans       &trans                          &trans &trans &trans             &trans &trans &trans                    &trans       &trans       &trans      &trans      &trans
      >;
    };
    mods_left_lower {
      bindings = <
        &trans &trans   &trans   &trans    &trans    &trans &trans                                                        &trans  &trans &trans     &trans       &trans        &trans          &trans
        &trans &trans   &trans   &trans    &trans    &trans &trans                                                        &trans  &trans &trans     &trans       &trans        &trans          &trans
        &trans &trans   &trans   &trans    &trans    &trans &trans        &trans &trans             &trans &trans         &trans  &trans &trans     &trans       &trans        &trans          &trans
        &trans &sk LALT &sk LGUI &sk LSHFT &sk LCTRL &trans        &none  &none  &trans &none &none &trans &none   &none          &trans &trans     &trans       &trans        &trans          &trans
        &trans &trans   &trans   &trans    &trans                  &trans &trans &trans             &trans &trans  &trans                &trans     &trans       &trans        &trans          &trans
      >;
    };
    mods_right_lower {
      bindings = <
        &trans  &trans     &trans      &trans       &trans       &trans      &trans                                                       &trans &trans      &trans       &trans       &trans      &trans      &trans
        &trans  &trans     &trans      &trans       &trans       &trans      &trans                                                       &trans &trans      &trans       &trans       &trans      &trans      &trans
        &trans  &trans     &trans      &trans       &trans       &trans      &trans        &trans &trans             &trans &trans        &trans &trans      &trans       &trans       &trans      &trans      &trans
        &trans  &trans     &trans      &trans       &trans       &trans             &none  &none  &trans &none &none &trans &none  &none         &trans      &sk RCTRL    &sk RSHFT    &sk RGUI    &sk RALT    &trans
        &trans  &trans     &trans      &trans       &trans                          &trans &trans &trans             &trans &trans &trans                    &trans       &trans       &trans      &trans      &trans
      >;
    };
    fn {
      bindings = <
        &kp F1 &kp F2 &kp F3       &kp F4 &kp F5 &kp F6 &tog 1                                                                              &mo 3 &kp F7 &kp F8 &kp F9 &kp F10 &kp F11 &kp F12
        &trans &trans &trans       &trans &trans &trans  &none                                                                              &none &trans &trans &trans &trans  &trans  &trans
        &trans &trans &trans       &trans &trans &trans  &none                  &trans &trans                 &trans       &trans           &none &trans &trans &trans &trans  &trans  &trans
        &trans &trans &trans       &trans &trans &trans        &none            &none  &kp C_PREV &none &none &kp C_VOL_UP &none  &none           &trans &trans &trans &trans  &trans  &trans
        &trans &trans &kp CAPSLOCK &trans &trans               &kp C_PLAY_PAUSE &trans &kp C_NEXT             &kp C_VOL_DN &trans &trans                 &trans &trans &trans  &trans  &trans
      >;
    };
    mod {
      bindings = <
        &none &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &none                                                                                     &trans                 &bt BT_SEL 0  &bt BT_SEL 1      &bt BT_SEL 2      &bt BT_SEL 3 &bt BT_SEL 4       &none
        &none &none        &none        &none        &none        &none        &bootloader                                                                               &bootloader            &tog FANCY    &none             &tog COMPACT_BASE &none        &tog MODS_LOWERROW &none
        &none &none        &none        &none        &none        &none        &rgb_ug RGB_MEFS_CMD 5     &bt BT_CLR &bt BT_CLR            &bt BT_CLR &bt BT_CLR         &rgb_ug RGB_MEFS_CMD 5 &to DEF_LAYER &tog MODS_HOMEROW &none             &none        &tog STICKY_SHIFT  &none
        &none &none        &to QWERTY   &none        &none        &none                   &none           &none      &none     &none &none &none      &none      &none                          &none         &none             &none             &none        &none              &none
        &none &none        &none        &bl BL_INC   &bl BL_DEC                           &rgb_ug RGB_TOG &bl BL_TOG &none                 &none      &bl BL_TOG &rgb_ug RGB_TOG                              &bl BL_INC        &bl BL_DEC        &none        &none              &none
      >;
    };
  };
};
